/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}


body {
	padding: 0px;
	margin: 0px;
	line-height: 1;
	background: url(../images/elements/bg.png) repeat left top;
}

body, input, textarea {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 22px;
	color: #727272;
}

/* Headings */
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #454545;
	text-transform: uppercase;
}
h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a { 
	color: inherit; 
}
h1 { 
	font-size: 25px; 
	line-height: 30px; 
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 600;
}
h2 { 
	font-size: 20px; 
	line-height: 20px; 
	margin-bottom: 18px;
	font-style: normal;
	font-weight: 600;
}
h3 { 
	font-size: 16px; 
	line-height: 16px; 
	margin-bottom: 15px;
	font-weight: 600;
	font-style: normal;
}
h4 { 
	font-size: 15px; 
	line-height: 22px; 
	margin-bottom: 15px;
	font-style: normal;
	font-weight: 600;
} 
h5 { 
	font-size: 14px; 
	line-height: 22px;
	margin-bottom: 15px;
	font-style: normal;
	font-weight: 600;
}						
h6 { 
	font-size: 13px; 
	line-height: 18px;
	margin-bottom: 15px;
	font-style: normal;
}

h2 i { 
	font-size: 13px; 
	line-height: 18px; 
	margin-bottom: 20px;
	font-weight: normal;
	color: #999;
}

/* Text elements */
p {
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 21px;
}

ul, ol {
	margin: 0 0 20px 0;
	list-style-position: inside;
}
ul {
	list-style: none;
}
ul li {
	list-style: none;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
strong {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 20px 0 20px 36px;
	font-size: 13px;
	border-left: 5px solid #25aae2;
	padding: 5px 20px 5px 20px;
	font-family: 'Open Sans' !important;
	font-weight: normal;
	color: #454545;
}
pre {
	background: #f4f4f4;
	font-size: 13px;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	margin-bottom: 40px;
	overflow: auto;
	padding: 0.75em 20px;
}
code, kbd {
	font-size: 13px;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 40px;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

.dropcap {
	display:block;
	float:left;
	font-size:45px;
	padding:0;
	margin: 0;
	margin:15px 8px 0 0;
	text-transform: uppercase;
}

.lite1 {
	color: #ca6d6d;
	border-bottom: 1px dotted #ca6d6d;
}

.lite2 {
	border-bottom: 1px dotted #ca6d6d;
}

/* Links */
a {
	color: #25aae2;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a:hover {
	text-decoration: none;
	color: #727272;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
text-decoration: none;
}
del {
text-decoration: line-through;
}

/* Clear Fix Styles */

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
{
	height:1%;
}

.clearfix
{
	display:block;
}

.image_left1 {
	float: left;
	padding: 0px;
	margin: 0px 20px 0px 0px;
}
.image_left2 {
	float: left;
	padding: 10px;
	margin: 0px 10px 0px 0px;
}
.image_left3 {
	float: left;
	padding: 0px;
	margin: 0px 30px 0px 0px;
	border: 5px solid #fff;
}
.image_left4 {
	float: left;
	padding: 0px;
	margin: 0px 30px 5px 0px;
}
.image_left5 {
	float: left;
	padding: 0px;
	margin: 0px 20px 0px 0px;
	border: 5px solid #eee;
}
.image_left6 {
	float: left;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	border: 5px solid #eee;
}
.image_left7 {
	float: left;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}
.image_left8 {
	float: left;
	padding: 0px;
	margin: 0px;
}

.image_left11 {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 20px;
}



.mar_top1 {
	margin-top: 10px;
	width: 100%;
	float: left;
}
.mar_top2 {
	margin-top: 20px;
	width: 100%;
	float: left;
}
.mar_top3 {
	margin-top: 30px;
	width: 100%;
	float: left;
}
.mar_top4 {
	margin-top: 35px;
	width: 100%;
	float: left;
}
.mar_top5 {
	margin-top: 40px;
	width: 100%;
	float: left;
}
.mar_top6 {
	margin-top: 45px;
	width: 100%;
	float: left;
}
.mar_top7 {
	margin-top: 50px;
	width: 100%;
	float: left;
}
.mar_top8 {
	margin-top: 55px;
	width: 100%;
	float: left;
}
.mar_top9 {
	margin-top: 60px;
	width: 100%;
	float: left;
}
.mar_top10 {
	margin-top: 65px;
	width: 100%;
	float: left;
}
.mar_top11 {
	margin-top: 15px;
	width: 100%;
	float: left;
}
.mar_top12 {
	margin-top: 25px;
	width: 100%;
	float: left;
}
.mar_top13 {
	margin-top: 5px;
	width: 100%;
	float: left;
}


.divider_line {
	height: 1px;
	margin: 25px 0 30px 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.divider_line2 {
	height: 1px;
	margin: 5px 0 30px 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.divider_line3 {
	height: 1px;
	margin: 15px 0 30px 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.divider_line4 {
	height: 1px;
	margin: 17px 0 16px 0;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
}